@import 'reset.css';
@import 'header.css';
@import 'main.css';
@import 'index-page.css';
@import 'product-page.css';
@import 'login-page.css';
@import 'profile-page.css';
@import 'cart-page.css';
@import 'footer.css';