.product-cart {
    height: 60px;
    width: 80%;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-cart img {
    width: 50px;
    height: 50px;
}

.product-detail {
    display: flex;
}

.product-title {
    font-weight: bold;
}

.product-detail span{
    align-self: center;
    margin-left: 7px;
}

.cart-remove-item button {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: rgb(54, 54, 54);
    cursor: pointer;
    background: rgb(194, 194, 194);
}

.cart-remove-item button:hover {
    background: rgb(180, 180, 180);
}

#checkout {
    height: 60px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout span {
    font-size: 0.9rem;
    margin-right: 10px;
}

#checkout .total-price {
    font-weight: bold;
    margin-right: 1px;
}

#checkout input {
    height: 25px;
}

#checkout button {
    height: 25px;
    padding: 0 4px;
}