.main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    height: 60px;
}

.logo-loja h1{
    font-weight: bold;
    font-size: 1.125rem;
}

.logo-loja i {
    font-size: 20pt;
    position: relative;
    bottom: 4px;
    margin-right: 10px;
}

.logo-loja a {
    display: flex;
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-left: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu i {
    margin-right: 3px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.main-bar input {
    height: 30px;
    margin-right: 4px;
}

.line::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.navbar li {
    display: inline-block;
    padding: 10px 0;
    margin-right: -5px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background: #ccc;
}