/* Lançamentos */
#releases {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#releases h2 {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.375rem;
}

#releases h2::after {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
    opacity: 0.6;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.overlay:hover {
    opacity: 0.8;
}

/* Produtos */
#products {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.title-products {
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
}

.product img {
    max-width: 100%;
    display: block;
}

.product {
    flex: 1 1 200px;
    margin: 0 20px 20px;
    max-width: 250px;
    max-height: 300px;
    width: 250px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product .description {
    font-weight: bold;
    font-size: 1rem;
}

/* Sidebar */
sidebar {
    display: block;
    width: 15%;
    height: 100%;
}

sidebar div {
    margin-bottom: 20px;
    margin-left: 10px;
}

sidebar div ul {
    border: 1px solid rgb(138, 138, 138);
    list-style: none;
}

sidebar div ul li input{
    margin: 0 4px;
}

sidebar div ul li {
    margin: 5px 0;
}

sidebar input, label {
    cursor: pointer;
}

sidebar h3 {
    margin-left: 4px;
    margin-bottom: 2px;
}

/* Paginação */
.pagination {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.pagination a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}
