#content-login {
    display: flex;
    max-width: 1080px;
    margin: 50px auto 0;
    text-align: center;
}

#content-login input {
    height: 25px;
    width: 180px;
}

#content-login button {
    display: block;
    margin: 10px auto;
    width: 180px;
    height: 35px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

#content-login p {
    margin: 5px 0;
}

#login {
    width: 50%;
}

.login-button {
    background: rgb(194, 194, 194);
}

.login-button:hover {
    background: rgb(180, 180, 180);
}

#login a {
    color: rgb(53, 53, 53);
}

#signup {
    width: 50%;
}

.signup-button {
    background: rgb(209, 209, 209);
}

.signup-button:hover {
    background: rgb(196, 195, 195);
}

.vertical-line {
    border-left: 1px solid black;
}