#profile {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#profile h2 {
    margin: 5px 0;
}

#profile p {
    margin: 5px 0;
}

#profile input {
    height: 25px;
}

#profile button {
    height: 30px;
    padding: 3px;
    margin-top: 10px;
    background: rgb(194, 194, 194);
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

#profile button:hover {
    background: rgb(180, 180, 180);
}