* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    position: relative;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    background-color: rgb(250, 250, 250);
}